main .gallery {
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: flex;
    flex-flow: column wrap;
    row-gap: 3vw;
    box-sizing: border-box;
    align-items: center;
}
main .gallery img {
    height: auto;
    width: 20vw;
    border-radius:.2vw;
    position: relative;
}

main .h-container span{
    font-size: 70%;
}

/* checkbox trick */
/* for img1-div */
/* i did not expect this to work at all! impressive!*/
input {
    position: absolute;
    opacity: 0;
}
/* for first image*/
#check1 ~ * #good-moral{
    transition: width 1s ease-in-out;
}
#check1:checked ~ * #good-moral{
    width: 100%;
}
/* second image */
#check2 ~ * #journal{
    transition: width 1s ease-in-out;
}
#check2:checked ~ * #journal{
    width: 100%;
}
/* third */
#check3 ~ * #ssc-elem{
    transition: width 1s ease-in-out;
}
#check3:checked ~ * #ssc-elem{
    width: 100%;
}
/* fourth */
#check4 ~ * #dip-elem{
    transition: width 1s ease-in-out;
}
#check4:checked ~ * #dip-elem{
    width: 100%;
}
/* fifth */
#check5 ~ * #dip-jhs{
    transition: width 1s ease-in-out;
}
#check5:checked ~ * #dip-jhs{
    width: 100%;
}
/* sixth */
#check6 ~ * #dip-shs{
    transition: width 1s ease-in-out;
}
#check6:checked ~ * #dip-shs{
    width: 100%;
}